
<footer class="section section-primary">
      <div class="container" style="min-height:100px; text-align:center; vertical-align:middle">
     <br />&nbsp;<br />
        2016, Mark Dierick - Heverlee

      </div>
    </footer>
</body></html>