<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jq.js"></script>    
    <script src="/javascripts/masonry.js"></script>
    <script src="/javascripts/imagesloaded.js"></script>
    <script src="/javascripts/ejs.js"></script>
<script>
var isLoading = false;

function shuffle(arr){
  return arr.sort( function(a,b){
      if(a.date > b.date)
        return -1;
      else if( a.date < b.date)
        return 1;
      else
        return Math.random() > .5 ? -1 : 1;
        
      
  });
}

function randomSize(data){
   var randomness = <%= randomness %>;
    data.forEach(function(d) {
      if ( Math.floor(Math.random() * randomness)  == 0 ){
        d.sizeclass = ' grid-item--width2';
      }
      else
        d.sizeclass = '';    
    });
}

function loadData(){
if(!isLoading)  {
  isLoading = true;
    $.get( "/api/photos", function( data ) {     
      data = shuffle(data);
      randomSize(data);
      var grid =  $('#gg');
      var ejs = new EJS({url: '/views/gallery.ejs'});      
      var html = jQuery( ejs.render({images:data})); 
      
      html.imagesLoaded(function(){
        grid.append(html);
        grid.masonry('appended',html);
      });  
      isLoading = false;               
    });
   }
}

$( document ).ready(function(){
    var $grid = $('.grid').masonry({
      itemSelector: '.grid-item',
      // use element for option
      columnWidth: '.grid-sizer',  
      percentPosition: true
      
    });

    var win = $(window);
    win.scroll(function() {
      if ($(document).height() - win.height() <= win.scrollTop() + 250 ) {        
        loadData();
      }
    });
	  loadData();
 });
</script>
  </head>
  <body>
    <h1>De Kring</h1>     
    <div class="container">
      <div class="grid" id="gg">
        <div class="grid-sizer"></div>
      </div>
    </div>
  </body>
</html>
