<%- include('header') %>
<div class="container-fluid bg3">
  <div class="gridcontainer">
       <div class="grid" id="gg">
         <div class="grid-sizer"></div>
       </div>
     </div>
</div>
<%- include('footer') %>
<script> $( document ).ready(function(){ initGallery();setNavTab('gallery');});</script>
