<%- include('header') %>
<div class="section">
<div class="container">
   <div class="row">
          <div class="col-md-9">
          
          <!-- content -->
         
      <p id="u180-2">Welkom.</p>
      <p id="u180-3">&nbsp;</p>
       <img class="pull-right" id="u798_img" src="/images/mark.png" alt="" width="207" height="207"/>
      <p id="u180-5">Waarschijnlijk kennen wij elkaar, of hebben we elkaar al ontmoet. Maar toch wil ik me graag even voorstellen. Ik ben de papa van Sarah, mijn lieve meid van wie ik veel te vroeg afscheid heb moeten nemen op 13 maart 2012. Ze was één van de slachtoffers van de busramp in Sierre, Zwitserland, als leerling van de zesde klas van de Sint-Lambertusschool in Heverlee.</p>
      <p id="u180-6">&nbsp;</p>
        
      <p id="u180-8">Nu, meer dan vier jaar na het ongeval dat mijn leven zo diepgaand heeft veranderd, word ik nog steeds geraakt door de steun en de warmte die ik van zoveel mensen blijf ontvangen. Er bestaat een grote verbondenheid tussen al de mensen die zich betrokken hebben gevoeld in de nasleep van het ongeval. Deze verbondenheid is het meest tastbaar in de periode van de jaarlijkse herdenking in Heverlee. Naar aanleiding daarvan is bij mij de wens gegroeid om deze verbondenheid in beeld vast te leggen en als een symbool te bewaren dat voor altijd kan gekoesterd worden.</p>
      <p id="u180-9">&nbsp;</p>
      <p id="u180-12"><span id="u180-10">Als symbool voor die verbondenheid staat een kring.</span></p>
      <p id="u180-13">&nbsp;</p>
      <p id="u180-15">We geven elkaar een hand of leggen onze armen over elkaar om de kring te vormen. Een kring van steun, van medeleven, van solidariteit als blijvende herinnering voor al diegenen die zich in de voorbije jaren betrokken hebben gevoeld.&nbsp; Maar evengoed, in een bredere context, een kring als universeel symbool van kracht, bescherming en warmte voor elkaar als daadkrachtig antwoord van ons, mensen, op het lijden, de eenzaamheid en het verdriet in deze wereld.</p>
      <p id="u180-16">&nbsp;</p>
      <p id="u180-18">Jullie zijn allemaal van harte welkom om alleen of met vrienden en familie een foto te laten nemen om deze kring samen vorm te geven. Op deze website vinden jullie alle praktische info. Indien je nog vragen hebt, aarzel dan zeker niet mij te contacteren.</p>
      <p id="u180-19">&nbsp;</p>
      <p id="u180-21">Ik dank jullie alvast uit het diepst van mijn hart en koester jullie steun en warmte.</p>
      <p id="u180-22">&nbsp;</p>
      <p id="u180-23">&nbsp;</p>
      <p id="u180-25">Mark</p>
      <p id="u180-27">Heverlee, maart 2016.</p>
          </div>
         
          </div>
</div>
</div>
<%- include('footer') %>
<script> $( document ).ready(function(){;setNavTab('home');});</script>
