body {
  background:black;
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {color:white}
.container { padding: 5px; background: white}
.grid { background: white;  }
.grid-sizer,
.grid-item { width: 20%; background: white;  }
.spacer img { 
  width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.spacer:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* 2 columns */
.grid-item--width2 { width: 40%; }
.spacer {margin : 5px; overflow: hidden }
